/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*Header*/

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.HeaderList {
  list-style: none;
  display: flex;
  gap: 10px;
}

.HeaderList a {
  text-decoration: none;
  color: black;
}

.HeaderList a:hover {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
  padding-bottom: 40px;
}

.HeaderLogo img {
  height: 80px;
}

/*Main*/

.background-container {
  background-color: black;
  height: 100px;
}

.MainPart {
  color: white;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 40px;
}

.MainPart p {
  font-size: 25px;
}


/*Banner*/

.banner {
  background-color: #0282f9;
}

.bannerContainer {
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.BannerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.BannerList li {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}


.BannerList a {
  text-decoration: none;
  color: white;
}

.BannerList a:hover {
  opacity: 0.7;
}

.BannerList img {
  height: 40px;
}

/*Footer*/
/*Footer Top*/

.FooterTop {
  background-image: url(/public/img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.FooterTopContainer {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.FooterTopContainer h2 {
  color: white;
  font-size: 18px;
}

.FooterTopContainer ul {
  list-style: none;
  color: gray;
  font-size: 15px;
}

.footerList {
  display: flex;
  gap: 40px;
}

.fistColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLogo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.9;
}

.footerLogo img {
  height: 550px;
}

/*Footer Bottom*/

.backgroundFooterBottom {
  background-color: rgb(65, 61, 61);
}

.containerFooterBottom {
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;

}

.footerButton {
  background-color: rgb(65, 61, 61);
  color: white;
  border: 2px solid #0282f9;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.footerButton:hover {
  background-color: #0282f9;
  border: 2px solid white;
}

.footerSocial {
  display: flex;
  gap: 15px;
}

.footerSocial h2 {
  color: #0282f9;
}